Source: gooroom-integration-applet
Section: gnome
Priority: optional
Maintainer: Gooroom Maintainers <gooroom@gooroom.kr>
Build-Depends: automake (>= 1.13),
               debhelper (>= 10),
               gnome-pkg-tools (>= 0.17),
               gnome-common (>=3.18.0),
               intltool (>= 0.35.0),
               libglib2.0-dev (>= 2.44.0),
               libgtk-3-dev (>= 3.20.0),
               libpanel-applet-dev (>= 3.24.1),
               libcanberra-gtk3-dev,
               libpulse-dev,
               libupower-glib-dev,
               libaccountsservice-dev,
               libudev-dev,
               libnotify-dev,
               libpolkit-gobject-1-dev,
               libstartup-notification0-dev,
               libjson-c-dev,
               libx11-dev,
               nimf-dev,
               libgnome-desktop-3-dev
Standards-Version: 4.1.1
Homepage: http://gooroom.kr
Vcs-Git: https://github.com/gooroom/gooroom-integration-applet.git
Vcs-Browser: https://github.com/gooroom/gooroom-integration-applet

Package: gooroom-integration-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Gooroom Integration Applet for the GNOME panel
 The Gooroom Integration Applet is a applet for the GNOME panel which contains
 a number of applet features(sound, battery, brightness, date & time...).
