* {
  outline-color: transparent;
/*  transition: none; */
  text-shadow: none;
  -gtk-icon-effect: none;
  -gtk-icon-shadow: none; }


.main-box {
  padding: 24px 20px;
  min-width: 380px;
  border-radius: 16px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(43, 47, 64, 0.98); }

.icon-button-normal {
  padding: 0;
  border: none;
  color: #FFFFFF;
  animation: none;
  box-shadow: none;
  background: transparent; }
  .icon-button-normal:hover {
    color: #008EFD; }
  .icon-button-normal:active {
    color: #016EDB; }
  .icon-button-normal:disabled {
    color: rgba(255, 255, 255, 0.4); }

.icon-button-power {
  padding: 0;
  border: none;
  color: #FFFFFF;
  animation: none;
  box-shadow: none;
  background: transparent; }
  .icon-button-power:hover {
    color: #F52C2C; }
  .icon-button-power:active {
    color: #D40F26; }
  .icon-button-power:disabled {
    color: rgba(255, 255, 255, 0.4); }

.divider {
  background-color: rgba(255, 255, 255, 0.10); }

.module-item {
  padding: 8px;
  border: none;
  color: #FFFFFF;
  border-radius: 0;
  background-color: transparent; }
  .module-item:hover {
    border-radius: 6px;
    background-color: rgba(0, 142, 253, 0.2); }
  .module-item:active, .module-item:checked {
    border-radius: 6px;
    background-color: rgba(0, 142, 253, 0.4); }
  .module-item:disabled {
    opacity: 0.4;
    color: rgba(255, 255, 255, 0.4); }
    .module-item:disabled label {
      color: rgba(255, 255, 255, 0.4); }

.module-menu-box {
  color: #FFFFFF;
  background-color: transparent; }
  .module-menu-box button {
    padding: 8px;
    border: none;
    color: #FFFFFF;
    border-radius: 0;
    background-color: transparent; }
    .module-menu-box button:hover {
      border-radius: 6px;
      background-color: rgba(0, 142, 253, 0.2); }
    .module-menu-box button:active, .module-menu-box button:checked {
      border-radius: 6px;
      background-color: rgba(0, 142, 253, 0.4); }
    .module-menu-box button:disabled {
      opacity: 0.4;
      color: rgba(255, 255, 255, 0.4); }
      .module-menu-box button:disabled label {
        color: rgba(255, 255, 255, 0.4); }
  .module-menu-box:disabled {
    opacity: 0.4;
    color: rgba(255, 255, 255, 0.4); }

.round-label {
  border-radius: 17px;
  background-color: #4D84DB;
  color: #ffffff;
  padding: 4px 12px;
  font-weight: 400; }

calendar {
  color: #FFFFFF;
  border: transparent;
  border-radius:12px;
  background-color: transparent; }

calendar.header,
calendar.button {
  color: #FFFFFF;
  border: none; }

calendar:selected,
calendar.button:hover {
  color: #008EFD; }

calendar.button:disabled {
  color: rgba(255, 255, 255, 0.4); }

calendar:indeterminate {
  color: rgba(255, 255, 255, 0.3); }

calendar.highlight {
  color: #FFFFFF; }
